<footer class="bg-primary text-white py-6">

    <div class="max-w-7xl mx-auto px-6 flex items-center justify-between">

        <span class="text-sm">
            © {{ currentYear }} Martina Fausto
        </span>

        <div class="flex items-center gap-4">

        <a
            href="https://out.ac/muXvg"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 hover:text-secondary transition-colors"
        >
        <img
            src="assets/imgs/outdooractive.png"
            alt="Outdooractive"
            class="w-8 h-8 rounded-full"
        />

        

        </a>

        
        <a
            href="https://instagram.com/catafrego"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 hover:text-secondary transition-colors"
        >
        <img
            src="assets/imgs/ig.png"
            alt="IG"
            class="w-8 h-8 rounded-full"
        />
    

        </a>

        </div>

    </div>

</footer>