<section class="relative">

    <!-- Copertina -->
    <div class="h-[45vh] md:h-[70vh] overflow-hidden">

        <img
            src="assets/imgs/granparadiso.jpg"
            alt="Copertina"
            class="w-full h-full object-cover object-[50%_60%]">

    </div>

    <!-- Avatar -->
    <div class="max-w-5xl mx-auto px-6 relative -mt-20 md:-mt-24 z-10">

        <img
            src="assets/imgs/perfil.jpeg"
            alt="Avatar"
            class="w-40 h-40 md:w-48 md:h-48
                   rounded-full
                   object-cover
                   border-4 border-white
                   shadow-2xl 
                   object-[50%_60%]">

    </div>

</section>