<section class="relative">

    <!-- Copertina -->
    <div class="h-[45vh] md:h-[55vh] overflow-hidden">

        <img
            src="assets/imgs/copertina.jpg"
            alt="Copertina"
            class="w-full h-full object-cover">

    </div>

</section>




<main class="max-w-5xl mx-auto px-4 sm:px-6">

    <section class="py-8">
        <div class="text-center">
            <h2 class="text-3xl font-bold">
                {{ 'ACADEMIC' | translate }}
            </h2>
        </div>
    </section>

    <section class="py-8">
        <app-timeline
            [items]="education"
        ></app-timeline>
    </section>

</main>

<main class="max-w-5xl mx-auto px-4 sm:px-6">

    <section class="py-8">
        <div class="text-center">
            <h2 class="text-3xl font-bold">
                {{ 'QUALIFICATIONS' | translate }}
            </h2>
        </div>
    </section>

    <section class="py-8">
        <app-timeline
            [items]="cursos"
        ></app-timeline>
    </section>

</main>


 
<!--
<div class="flex flex-col md:flex-row justify-center gap-6">
    
    <div class="flex flex-col gap-6 w-full md:w-1/3">

        <p-card
            header="Skills"
            class="w-full">

            <div class="flex flex-wrap gap-2">
                @for (skill of technicalSkills; track skill.label) {
                    <p-tag [severity]="skill.severity">
                        <i [class]="skill.icon"></i>
                        <span>{{ 'SKILL.' + skill.label | translate }}</span>
                    </p-tag>
                }
            </div>

        </p-card>


        <p-divider></p-divider>


        <p-card
            header="My approach"
            class="w-full">

            <p>
                Credo nell'importanza dell'educazione outdoor,
                della sicurezza in ambiente naturale e della
                condivisione delle conoscenze attraverso esperienze pratiche.
            </p>

        </p-card>

    </div>


    <p-card
        class="max-w-sm w-full min-h-[350px]"
        header="Outdoor Education">

        <ng-template #header>
            <img
                src="assets/imgs/maps.jpeg"
                alt="Bambini che imparano cartografia"
                class="w-full h-100 object-cover rounded-t-lg">
        </ng-template>

    </p-card>

</div>

-->


<main class="max-w-5xl mx-auto px-4 sm:px-6">
    
    <div class="grid grid-cols-3 gap-6">
        <p-card>
            <ng-template #title>
                <div class="flex items-center gap-2">
                    <span>{{ 'LANGUAGES' | translate }}</span>
                    <i class="pi pi-language"></i>
                </div>
            </ng-template>

            <div class="flex flex-col gap-4">

                @for (language of languages; track language.label) {

                    <div class="max-w-sm w-full text-sm">
                        <div class="flex items-center justify-between gap-8">
                            <span class="text-color font-medium">{{ 'LANGUAGE.' + language.label | translate }}</span>
                            <span class="text-color">{{ 'LANGUAGE_LEVEL.' + language.level | translate }}</span>
                        </div>
                    </div>
                }

            </div>
        </p-card>


        <p-card>
            <ng-template #title>
                <div class="flex items-center gap-2">
                    <span>{{ 'MOBILITY' | translate }}</span>
                    <i class="pi pi-car"></i>
                </div>
            </ng-template>

            <div class="flex flex-col gap-4">

                    <div class="max-w-sm w-full text-sm">
                        <div class="flex items-center justify-between gap-8">
                            <span class="text-color font-medium">{{ 'DRIVING_LICENCE.TITLE' | translate }}</span>
                            <span class="text-color">{{ 'DRIVING_LICENCE.LICENCE' | translate }}</span>
                        </div>
                    </div>

            </div>
        </p-card>

        <p-card>
            <ng-template #title>
                <div class="flex items-center gap-2">
                    <span>{{ 'DOCUMENTS' | translate }}</span>
                    <i class="pi pi-globe"></i>
                </div>
            </ng-template>

            <div class="flex flex-col gap-4">

                <div class="max-w-sm w-full text-sm">
                    <div class="flex items-center justify-between gap-8">
                        <span class="text-color font-medium">{{ 'CITIZENSHIP.TITLE' | translate }}</span>
                        <span class="text-color">{{ 'CITIZENSHIP.DATA' | translate }}</span>
                    </div>
                </div>


                <div class="max-w-sm w-full text-sm">
                    <div class="flex items-center justify-between gap-8">
                        <span class="text-color font-medium">{{ 'RESIDENCE.TITLE' | translate }}</span>
                        <span class="text-color">{{ 'RESIDENCE.DATA' | translate }}</span>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</main>


<main class="max-w-5xl mx-auto px-4 sm:px-6">

    <section class="flex justify-center py-8">
        <app-cv-downloader></app-cv-downloader>
    </section>
    
</main>

<p-divider/>